/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
{
    display: block;
}
body
{
    line-height: 1;
}
ol, ul
{
    list-style: none;
}
blockquote, q
{
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after
{
    content: '';
    content: none;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}


/* ------------------------------------------------------Project CSS computer */
body
{
    background-color: #7F7F7F;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #FFFFFF;
}

#master-container
{
    display: flex;
    flex-direction: column;
}

.container
{
    position: relative;
}

#title, #slogan, #bottom-text
{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 2%;
}

#title
{
    flex-direction: row;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin: 1.5% 0;
    align-items: baseline;
    font-family: Arial, sans-serif;
    text-align: center;
    text-shadow: #FF0000 0.125vw 0.1vh, #FF0000 -0.1vw 0.1vh, #FF0000 0.1vw -0.1vh, #FF0000 -0.1vw -0.1vh;
}

#title :first-child, #title :last-child
{
    font-size: 120%;
}

#slogan
{
    top: 57%;
    left: 7.5%;
    font-family: Futura, sans-serif;
    line-height: 0.9;
}

#slogan :nth-child(3)
{
    font-size: 120%;
    font-style: italic;
}

#bottom-text
{
    bottom: 0;
    left: 50%;
    width: 300%;
    transform: translate(-50%, 0) scaleX(0.25);
    font-family: monospace;
    text-align: center;
    margin: 0;
    line-height: 0.9;
}

@media screen and (min-width: 901px)
{
    #master-container
    {
        flex-direction: row;
    }
}

@media screen and (min-width: 501px)
{
    .container
    {
        height: 99vh;
        font-size: 2vh;
        margin: 0 auto;
    }

    img
    {
        max-width: 100%;
        height: inherit;
    }

    #title
    {
        font-size: 435%;
    }

    #slogan
    {
        font-size: 240%;
    }

    #bottom-text
    {
        font-size: 150%;
    }
}

@media screen and (max-width: 500px)
{
    img
    {
        width: 100%;
        max-height: 100%;
    }

    #title
    {
        font-size: 13.5vw;
    }

    #slogan
    {
        font-size: 7.25vw;
    }

    #bottom-text
    {
        font-size: 5vw;
        margin-bottom: 1%;
    }
}
